/* this file contains all the media queries */

/* MOBILE devices */
@media screen and (min-width:420px) {
    /* service section */
    /* section.service {
        height: 110vh;
    } */
}

/* TABLET devices */
@media screen and (min-width: 620px) {
    /* about section */
    section.about {
        height: 170vh;
    }
    section.about div.wrapper div.heading {
        width: 70%;
    }
    section.about div.wrapper div.about-text {
        width: 90%;
    }
    /* service section */
    /* section.service {
        height: 90vh;
    } */
    /* contact section */
    section.contact {
        height: 150vh;
    }
    section.contact div.wrapper div.image img {
        width: 70%;
    }
    /* connect section */
    section.connect {
        height: 170vh;
    }
    section.connect div.wrapper div.options ul li {
        width: 60%;
    }
}

/* LAPTOP devices */
/* small laptops */
@media screen and (min-width: 895px) {
    /* intro section */
    section.intro {
        height: 60vh;
    }
    /* about section */
    section.about {
        height: 130vh;
    }
    section.about div.wrapper div.heading {
        width: 50%;
    }
    /* contact section */
    section.contact div.wrapper {
        padding: 2%;
    }
    section.contact div.wrapper div.image {
        padding-top: 5%;
    }
    section.contact div.wrapper div.image img {
        width: 50%;
    }
    /* connect section */
    section.connect {
        height: 100vh;
    }
    section.connect div.wrapper div.options ul.list {
        flex-direction: row;
    }
    section.connect div.wrapper div.options ul li {
        width: 40%;
        height: 75%;
    }
}

/* big laptop */
@media screen and (min-width: 1230px) {
    /* hero section */
    section.hero {
        background-attachment: fixed;
    }
    /* about section */
    section.about {
        background-attachment: fixed;
    }
    section.about div.wrapper div.heading {
        width: 40%;
    }
    section.about div.wrapper div.about-text {
        width: 80%;
    }
    /* contact section */
    section.contact {
        background-attachment: fixed;
        height: 120vh;
    }
    section.contact div.wrapper {
        flex-direction: row-reverse;
    }
    section.contact div.wrapper div.image img {
        width: 80%;
    }
    /* connect section */
    section.connect div.wrapper div.options ul li {
        width: 30%;
    }
    /* footer section */
    footer.footer div.wrapper div.links {
        width: 40%;
    }
}