/* this file contains all the media queries */

/* TABLET SCREEN */
@media screen and (max-width:768px) {
    /* navbar */
    nav.navbar ul.navigation { width: 100%; }
    header nav.navbar { flex-direction: column; justify-content: flex-start; }
    /* hero section */
    section.hero { background-attachment: scroll; }
    section.hero div.wrapper div.welcome-text h1.title { font-size: 4em; }
    /* about section */
    section.about div.wrapper div.heading { width: 50%; }
    section.about div.wrapper div.about-text { width: 90%; }
    /* services section */
    section.service { height: 80vh; }
    section.service div.wrapper { width: 100%; }
    /* contact section */
    section.contact { height: 150vh; }
    section.contact div.wrapper { width: 95%; flex-direction: column; }
    section.contact div.wrapper div.text { padding: 10%; width: 100%; }
    section.contact div.wrapper div.text div.heading { line-height: 4.5em; }
    section.contact div.wrapper div.image { width: 70%; }
    /* connect section */
    section.connect div.wrapper div.options ul li { width: 45%; }
}
/* MOBILE SCREEN */
@media screen and (max-width:376px) {
    /* navbar section*/
    /* ************** */
    /* about section */
    section.about { height: 200vh; }
    section.about div.wrapper { width: 100%; height: 100%; }
    section.about div.wrapper div.heading { width: 80%; }
    /* service section */
    section.service { height: 130vh; }
    /* contact section */
    section.contact { height: 185vh; }
    section.contact div.wrapper div.image { width: 100%; text-align: center; padding-top: 10%; }
    section.contact div.wrapper div.text div.heading { line-height: 2.5em; }
    /* connect section */
    section.connect { height: 160vh; }
    section.connect div.wrapper { width: 100%; height: 100%;}
    section.connect div.wrapper div.options { height: 100%; }
    section.connect div.wrapper div.options ul.list { flex-direction: column; align-items: center; }
    section.connect div.wrapper div.options ul li {width: 80%; height: 45%;}
    /* footer */
    footer.footer {height: 70vh;}
    footer.footer div.wrapper div.links {width: 70%;}
}